html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

main {}

div#bg-image {
    background-color: aqua;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
}